h1 {
    color: yellow;
    text-align: center
}
header p {
    color: green;
}
header p span {
    color: blue;
}

.highlight{
    background-color: yellow;
}

footer .highlight {
    background-color: lightgray;
}
